{% extends 'base.html' %}

{% block content %}
<div class = "content-box">
    <h1>About Me</h1>
    <p>My name is Farhan Hamim. I like robotics and look forward to double majoring in Mechanical Engineering and Computer Science in the future. I'm Bengali, Muslim, born and raised in Queens, and my hobbie include coding, playing games, basketball.</p>
    <h3>Extracurriculars:</h4>
    <p>At QHSS, I participate in many clubs that intersect with my interests of robotics, engineering, coding, and circuitry.</p>
    <h3>Robotics:</h3>
    <p>I have been engaged in QHSS robotics since Sophmore year. I shadowed the FTC 19426 software team during the 2024-2025 "INTO THE DEEP" season, learning concepts in Java Object Oriented Progamming. For the 2025-2026 "DECODE" season, I was a member for FTC 33379 BlueJays programming, aiding in coding the robot's holonomic and field-centric driving system.</p>
</div>
{% endblock %}
