{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farhan's Website</title>
    <link rel = "stylesheet" href = "{% static 'main/styles.css' %}"
</head>
<body>

    <nav>
        <a href = "/">Home</a>
        <a href = "/about">About</a>
        
    </nav>
    <h1>Welcome to my personal website!</h1>
    <p>Hello! My name is Farhan Hamim. I'm interested in Robotics and STEM.</p1>
</body>
</html>