{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farhan's Website</title>
    <link rel = "stylesheet" href = "{% static 'main/styles.css' %}">
</head>
<body>

<nav class = "navbar">
    <div class = "left_nav">Farhan</div>
    <div class = "right_nav">
        <a href = "/">Home</a>
        <a href = "/about">About</a>
        <a href = "/experiences">Experiences</a>
        <a href = "/resume">Resume</a>
        <a href = "/contact">Contact</a>
        <button id="toggle_theme" class="toggle_button">Toggle</button>
    </div>
</nav>
{% block content %}
{% endblock %}
<script>
    document.getElementById("toggle_theme").onclick = function () {
        document.body.classList.toggle("dark-mode");
    };
</script>
</body>
</html>