{% extends 'base.html' %}

{% block content %}
<div class = "content-box">
    <h1>Contacts</h1>
    <p>If you have questions, or want to privately contact me, you can reach me here:</p>
    <a href = "https://www.linkedin.com/in/farhan-hamim-bb7666388/" target="_blank" class="social-icon">
        <i class="fa-brands fa-linkedin"></i>
    </a>
    <a href = "https://github.com/Farhanhamim1111" target="_blank" class="social-icon">
        <i class="fa-brands fa-github"></i>
    </a>
    <a href = mailto:farhanhamim345@gmail.com class="social-icon">
        <i class="fa-solid fa-at"></i>
    </a>
</div>
    {% endblock %}