{% extends 'base.html' %}

{% block content %}
<div class = "content-box scroll-animate">
    <h1 class = "scroll-animate">Experiences</h1>
    <p class = "scroll-animate">These are my experiences related to STEM!</p>
    <h3 class = "scroll-animate">STEM Volunteering @ Jamaica Central Library</h3>
    <p class = "scroll-animate">From March of 2026 and continuing, I have been working with JCL librarians as well as an official from FIRST Tech Challenge to promote STEM activiites in the library.</p>
    <h3 class = "scroll-animate">College Now Program, Baruch College</h3>
    <p class = "scroll-animate">The College Now program at Baruch College enlightened me on research methologies and practices, as well as actually conducting my own research by producing a meta-analysis research paper that analyzes the correlation between fast food density and how it influences human littering behavior.</p>
    <h3 class = "scroll-animate">SYEP @ LaGuardia College</h3>
    <p class = "scroll-animate">SYEP at LaGuardia College helped me learn the fundamentals of computer science, Python programming, and computer literacy.</p>

</div>

{% endblock %}